<?xml version="1.0" encoding="UTF-8"?>
<!-- san为true的时候表示配置文件改动的时候将会被重新加载 scanPeriod:设置间隔多长时间扫描配置文件 debug:设置是否打印内部日志 -->
<configuration scan="true" scanPeriod="60 seconds" debug="false">
	<property name="logger_name" value="loggerName"></property>
	<contextName>${logger_name}</contextName>
	<timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss" />
  
 <!-- 将过滤器的日志级别配置为level,所有info级别的日志交给appender处理,非info级别的日志被过滤掉 -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>info</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>			
	
		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{30} - %msg%n</pattern>
		</encoder>
	</appender>
	
	
	<root level="DEBUG">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>